
# Ignore Mac metadata files.
**/.DS_Store
# Ignore anything built by gradle
**/build/
**/.gradle/
**/target/

# Ignore any built java artifacts
**/*.class
**/*.jar

# Ignore any temporary folder locally
temp/